[Unit]
After=network.target

[Service]
User={{ login.username }}
Group={{ login.username }}
ExecStart=/usr/local/bin/pprotein-agent
Environment=PPROTEIN_GIT_REPOSITORY=/home/{{ login.username }}/webapp

[Install]
WantedBy=multi-user.target