[Unit]
After=network.target

[Service]
User={{ login.username }}
Group={{ login.username }}
WorkingDirectory=/home/{{ login.username }}
ExecStart=/usr/local/bin/pprotein

[Install]
WantedBy=multi-user.target