[Unit]
After=network.target

[Service]
User=isucon
Group=isucon
WorkingDirectory=/home/isucon
ExecStart=/usr/local/bin/pprotein

[Install]
WantedBy=multi-user.target